@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: azure;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: darkblue;
}

.main {
  margin-top: 30px;
  margin-left: 25%;
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}


h1 {

  text-align: center;
}

button {
  margin-top: 10px;
  margin-left: 47%;

}

.open{
  text-align: center;
}