@import url('https://fonts.googleapis.com/css2?family=Poppinsdisplay=swap');

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  align-items: baseline;
  padding: 10px 150px 10px 50px;
  background-color: rgb(28, 27, 27);
}

.nav2 {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  list-style: none;
  margin-left: 65%;
  position: absolute;
  padding-top: 20px;
}

.nav2 a {
  text-decoration: none;
  color: #f7cb2d;
  font-weight: bolder;
}

a{
  text-decoration: none;
}

.nav2 :hover {
  color: white;
  text-shadow: #f7cb2d;
}


button {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f7cb2d;
  background-color: rgb(28, 27, 27);
  border-radius: 47px;
  padding: 15px;
  border: #f7cb2d 5px solid;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 2px;
}

.nav2 :hover {
  border: rgb(28, 27, 27);
  background-color: #f7cb2d;
  color: rgb(28, 27, 27);
  border-radius: 20px;
  padding: 0px 2px;
  
}

button :hover {
border: rgb(28, 27, 27);
  background-color: #f7cb2d;
  color: rgb(28, 27, 27);
}

.back :hover{
  border: rgb(28, 27, 27);
  background-color: #f7cb2d;
  color: rgb(28, 27, 27);
}

.gridname{
  color: #f7cb2d;
}